body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to top, #a8d0e6, #f0f4f8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins, sans-serif;
    font-weight: 100;
}

.mainContainer {
    background: linear-gradient(to top, #f4f4f4, #e0e0e0) #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.mainContainer h2 {
    margin-bottom: 30px;
    font-size: 30px;
    color: #4a4a4a;
}

.mainContainer input[type="email"],
.mainContainer input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    box-shadow: 0 0 3px rgba(15, 162, 247, 0.5);
    background-color: #fff;
    font-size: 15px;
}

.mainContainer button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 0 7px rgba(0, 200, 87, 0.5);
}

.mainContainer button:hover {
    background-color: #45a049;
}

.mainContainer input[type="email"]:focus {
    background-color: #45a049;
}
    